<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <title>{% block title %}{% endblock %} - Also SLC</title>
    <!-- Leaflet -->
    <link rel="stylesheet" href="assets/leaflet/leaflet.css" />
    <script src="assets/leaflet/leaflet.js"></script>
    <!-- CSS Framework -->
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css" />
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Also SLC</h1>
            </div>
        </div>        
        {% block content %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>