{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
		<h1>Also SLC</h1>
		<p>Welcome to AlsoSLC, an ever-growing collection of photos of the changing face of Salt Lake City. Click on any of the markers to see the photo taken there.</p>
		<p>This site and all the photos on it are created by <a href="https://ma.rtijn.org/">Martijn van Exel</a>. If you have suggestions for places to add, or any other feedback for me, please drop me a line at m@rtijn.org. I look forward to hearing from you!</p>
		<p><em>I post a selection of the images on this site <a href="https://www.instagram.com/alsoslc/">on Instagram</a>. While you are there, be sure to also check out <a href="https://www.instagram.com/forgotten_slc/">Forgotten SLC</a>.</em></p>
		<p>We also have <a href="map.html">an interactive map showing all image locations 🗺</a>!</p>
	</div>
{% endblock %}
