{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
	integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
	crossorigin=""></script>
	<style type="text/css">
		#map {
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;		
    	}
	</style>
{% endblock %}
{% block content %}
	<h1>Also SLC</h1>
	<p>Welcome to AlsoSLC, an ever-growing collection of photos of the changing face of Salt Lake City.</p>
	<div id="map"></div>
	<script type="text/javascript">
		// Init map
		var mymap = L.map('map');
		// Add OSM topo layer
		L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
			maxZoom: 17,
			attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
		}).addTo(mymap);
		// define camera icon
		var cameraIcon = L.icon({
		    iconUrl: 'assets/camera-63.png',
		    iconSize: [24, 24],
		});
		// Add markers
		var markerGroup = new L.FeatureGroup();
		{% for image in site.images %}
		var marker{{ loop.index }}  = L.marker([{{ image.lat }}, {{ image.lon }}], {icon: cameraIcon}).addTo(markerGroup).bindPopup("<center><a href='{{ image.name }}.html'><img src='images/{{ site.smallest_thumbnail_width_for(image) }}' /></a><p><small>{{ image.date_taken }}</small></p></center>");
		{% endfor %}
		markerGroup.addTo(mymap);
		mymap.fitBounds(markerGroup.getBounds(), [100,100]);
	</script>
{% endblock %}