{% extends "base.html" %}
{% block title %}Photos{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-md">
				<h2>All photos</h2>
			</div>
		</div>
		<div class="row">
			{% for image in site.images|sort(attribute='_date_taken', reverse=True) -%}
			<div class="col-md-2">
				<a href="{{ image.name }}.html"><img src="images/{{ image.name }}_{{ site.image_widths[1] }}.jpg" class="img-fluid" style="margin-bottom: 10px" /></a>
			</div>
			{% if loop.index % 6 == 0 -%}
		</div>
		<div class="row">
			{% endif %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md">
				<p>I also have <a href="map.html">an interactive map showing all image locations 🗺</a>!</p>
			</div>
		</div>
{% endblock %}
