{% extends "base.html" %}
{% block title %}Photos{% endblock %}
{% block head %}
<script src="assets/lazyload/lazyload.min.js"></script>
{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-md">
				<h2>All photos</h2>
			</div>
		</div>
		<div class="row">
			{% for image in site.images|sort(attribute='_date_taken', reverse=True) -%}
			<div class="col-md-3">
				<a href="{{ image.name }}.html"><img data-src="images/{{ image.name }}_{{ site.image_widths[1] }}.jpg" class="img-fluid lazyload" /></a>
				<p><small><em>{{ image.date_taken }}</em></small></p>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md">
				<p>I also have <a href="map.html">an interactive map showing all image locations 🗺</a>!</p>
			</div>
		</div>
		{% block scripts %}
		<script type="text/javascript">
		lazyload();
		</script>
		{% endblock %}
{% endblock %}
