{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
	<style type="text/css">
		#map {
			height: 600px;
			width: 100%;
			margin: 20px;
			border: 1px solid #ccc;
		}    
	</style>
{% endblock %}
{% block content %}
	<h1>Also SLC</h1>
  	<div class="row">
  		<div class="col-md-4" style="padding: 20px">
	  		<div class="card" style="width: 18rem; display: none" id="selectedphotocontainer">
  				<img class="card-img-top" src="" id="selectedphoto">
  				<div class="card-body">
  					<h5 class="card-title" id="datetaken"></h5>
  					<p class="card-text" id="description"></p>
    				<a href="#" class="btn btn-primary" id="photopagelink">See Large Photo</a>
    			</div>
    		</div>
  		</div>
  		<div class="col-md-8">
  			<div id="map"></div>
  		</div>
  	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		// Init map
		var mymap = L.map('map').setView([40.7596384,-111.88968], 15);
		// Add OSM topo layer
		L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
			maxZoom: 17,
			attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
			opacity: 0.5
		}).addTo(mymap);
		// define camera icon
		// var myIcon = L.icon({
		//     iconUrl: 'assets/heart-15-2.png',
		// });
		// Add markers
		var markerGroup = new L.markerClusterGroup();
		{% for image in site.images %}
		var marker{{ loop.index }}  = L.marker(
			[{{ image.lat }}, {{ image.lon }}], {
				maxWidth: "auto", 
				name: "{{ image.name }}",
				datetaken: "{{ image.date_taken }}",
				description: "{{ image.description }}"}).addTo(markerGroup);
		markerGroup.addLayer(marker{{ loop.index }});
		{% endfor %}
		mymap.addLayer(markerGroup);

		// events
		markerGroup.on("click", function (event) {
    		var clickedMarker = event.layer;
    		console.log(clickedMarker);
    		var image_name = clickedMarker.options["name"];
    		var image_width = {{ site.image_widths[1] }};
    		var date_taken = clickedMarker.options["datetaken"];
    		var description = clickedMarker.options["description"];
    		document.getElementById("selectedphoto").src = `images/${image_name}_${image_width}.jpg`;
    		document.getElementById("datetaken").innerText = date_taken;
    		document.getElementById("description").innerText = description;
    		document.getElementById("photopagelink").href = `${image_name}.html`;
    		var container = document.getElementById("selectedphotocontainer");
    		container.style.display = "block";
		});

	</script>
{% endblock %}