{% extends "base.html" %}
{% block title %}Photo from {{ image.date_taken }}{% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
		#map {
			height: 300px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-8">
			<img src="images/{{ image.name }}_{{ site.image_widths[0] }}.jpg" class="img-fluid" />
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm">
					<h4>{{ image.headline }}</h4>
					<p><em>Taken on {{ image.date_taken }}</em></p>
					<p>{{ image.description }}</p>
					<p><a href="index.html">&lt;&lt; Home</a></p>
			    </div>			
			</div>
			<div class="row">
				<div class="col-sm">
			    	<div id="map"></div>
			    </div>
			</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm">
    		&copy; Copyright 2017-2019 <a href="https://ma.rtijn.org/">Martijn van Exel</a>
    	</div>
    </div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		var mymap = L.map('map').setView([{{ image.lat }}, {{ image.lon }}], 17);
		L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
			maxZoom: 17,
			attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
		}).addTo(mymap);
		// markers
		L.marker([{{ image.lat }}, {{ image.lon }}]).addTo(mymap);
	</script>
{% endblock %}